AIRTABLE_BASE_ID=your_base_id
AIRTABLE_TOKEN=your_airtable_token
AIRTABLE_PRODUCTS_TABLE=Products
AIRTABLE_REVIEWS_TABLE=Reviews
AIRTABLE_ORDERS_TABLE=Orders
NEXT_PUBLIC_FORMSPREE_ENDPOINT=https://formspree.io/f/your_form_id
NEXT_PUBLIC_WHATSAPP_NUMBER=18292610894
